<h1>Contact Sitter Setter</h1>

<nav class="nav">
    <a class='nav-buttons left' href="/">Home </a>
    <a class='nav-buttons left' href="/about">About </a>
    <a class='nav-buttons right' href="/contact">Contact </a>
    <a class='nav-buttons right' href="/images">Images </a>
</nav>

<div class = "baby-container">
  <img class="baby" src="/img/download.png" alt"spinning baby">
</div
<div class = "baby-container">
  <img class="baby" src="/img/download-1.png" alt"spinning baby">
</div
<div class = "baby-container">
  <img class="baby" src="/img/download-2.png" alt"spinning baby">
</div
