<div class="index-container">
  <h1>Sitter Setter</h1>
  <h3>It's like <a href="https://book.wagwalking.com/dog-walking/?utm_source=google&gclid=CjwKCAjwhOvPBRBxEiwAx2nhLjKifSXWNRSxlN3lLTFPGwZOebOKN5qyFZ_XvuR2wigMeEHXAAEqrRoCYXcQAvD_BwE">WAG!</a>, but for babies.</h3>

  <div class="index-text-container">
    <div class="first">
      Ever needed a babysitter STAT?
    </div>
    <div class="second">
      Wish it was easier to schedule babysitting ahead of time?
    </div>
    <div class="third">
      What about keeping all your babysitters and their gigs in the same place?
    </div>
    <div class="fourth">
      <h6>We can do all of that. Because we're the best.</h6>
    </div>
  </div>
  <div class="testimonial-container">
    <div class="testimonial-title"></div>
    <div class="testimonials">
      <div class="">
        <img src="/img/download.png" alt=""> "This is the best app ever!"
      </div>
      <div class="">
        <img src="/img/download-1.png" alt=""> "Goo-goo, ga-ga!"
      </div>
      <div class="">
        <img src="/img/download-2.png" alt=""> "Holy ****, a talking baby!"
      </div>
    </div>
  </div>
</div>
